@{
    ViewData["Title"] = "Resume";
}
<a href="/files/JoshuaGbogodor.docx.pdf" download class="download-cv-btn btn btn-primary pb-3">
    Download Joshua's <string>CV</string>
    <span class="material-icons">
        get_app
    </span>
</a>
<div class="text-center pt-15vh" id="first-Page-15vh">
    <div class="container">
        <h1 class="text-white mb-5">Education & My Work Expeirience</h1>
        <div class="row">
            <ul class="timeline mt-5 col-lg-8 col-md-10 col-12 m-auto text-left">
                <li>
                    <h5>Bachelor of Computer Science</h5>
                    <a target="_blank" href="https://www.unn.edu.ng/"><sup>University of Nigeria Nsukka, Enugu, Nigeria</sup></a>
                    <br />
                    <sup>November, 2014 ~ September, 2018</sup>
                    <p>
                        I focused on programming, web application development during my study. I was a member of Roar Hub and the CTO of a startup
                        team in my school where i was incharge of developing and managing the cohort website application.
                      
                    </p>
                </li>
                <li>
                    <h5>Software Engeener</h5>
                    <a target="_blank" href="https://decagon.institute/"><sup>Decagon Institue, Lagos, Nigeria</sup></a>
                    <br />
                    <sup>March, 2021 ~ September, 2021</sup>
                    <p>
                        Currently I'm in Decagon Institute as a Stack associate. I focused on Mentoring young .NET Developers
                        to become world-class intermediate developers Web application development and Desktop application deployment and
                        also A member of a team working on delivering a RESTful web APIs consumable by different client

                    </p>
                </li>
                <li>
                    <h5>Faculty</h5>
                    <a target="_blank" href="https://www.aptech-education.com/"><sup>APTECH Computer Education</sup></a>
                    <br />
                    <sup>June, 2020 ~ Feb, 2021</sup>
                    <p>
                        I was appointed as the Database manager and head of the website development team
                        to share my knowledge to the student including recommending learning resources,
                        answering to students inquiries in programming and helping them get ready for examinations.
                    
                    </p>
                </li>
                <li>
                    <h5>IT Personnel</h5>
                    <a target="_blank" href="https://www.aptech-education.com/"><sup>Bluepoint Management and Training Center</sup></a>
                    <br />
                    <sup>March, 2019 ~ March, 2020</sup>
                    <p>
                        I was appointed as an IT Personnel and Computer Operator
                        to take care of trainees registeration and also help manage their profile and also,
                        i also manage the company social media handles and help the trainees get ready for their examinations.
               
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="text-center pt-15vh" id="first-Page-15vh">
    <div class="container">
        <h1 class="text-white mb-5">Brief explanation about my Techical Skills</h1>
        <div class="row">
            <ul class="timeline mt-5 col-lg-8 col-md-10 col-12 m-auto text-left">
                <li>
                    <p>
                        Three+ years of demonstrated work experience in developing and implementing business technology applications, systems integration and testing solutions with in-depth domain knowledge of industries like Healthcare, Telecom, Call Center, Financial Instruments, Payroll, HR, and skills including, but not limited to, software analysis, design, and development.
                    </p>
                </li>
                <li>

                    <p>
                        Comprehensive understanding of NET Framework, C#, ASP.Net, ADO.Net, Entity Framework, WCF, SSIS, SSRS, XML, XSLT, JSON
                    </p>
                </li>
                <li>
                    <p>
                        Expertise in end to end development of enterprise web application and Single Page Application (SPA) using ASP.NET MVC, ASP.NET Web Forms, ASP.NET Web API, NodeJS, AngularJS & Angular2 using TypeScript.
                    </p>
                </li>
                <li>
                    <p>
                        Strong programming experience of designing Webpage using HTML5, CSS3, and understanding of consuming HTTP RestFul services.
                    </p>
                </li>
                <li>
                    <p>
                        Knowledge of advanced JavaScript including prototype-based inheritance, promises, closure, event delegation, DOM queries, callbacks & enhancing 3rd party plugins functionality according to requirements.
                    </p>
                </li>
                <li>
                    <p>
                        Good experience in Database development including schema design, T-SQL queries, standard and CLR stored procedures, Triggers, SQL query tuning and user defined functions creation for MS SQL server.
                    </p>
                </li>
                <li>
                    <p>
                        Experience in Agile/Scrum Development Methodologies for the rapid release cycle. Assisted team with making appropriate commitments through story selection, sizing and task definition and participated proactively in scrum planning, backlog refinement, planning poker and sprint reviews.
                    </p>
                </li>
                <li>
                    <p>
                        Strong knowledge of Object Oriented Design Methodologies for data security, reusability, and disreputability over a network and
                        using Design Patterns like Factory, Adapter, Façade, Observer, Singleton, Repository, Template
                    </p>
                </li>
                <li>
                    <p>
                        Developed test strategies, test plans and test cases and performed Unit Testing to identify and resolve integration, functional and usability issues before deployment.
                    </p>
                </li>
                <li>
                    <p>
                        Experience in using Version Control and System Integration tools such as Microsoft Team Foundation Server (TFS), VS Team Services, Git, SVN, Github, Bitbucket and Visual SourceSafe (VSS).
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="text-center mb-3" id="second-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <h1 class="text-white pb-3">Skills in IT</h1>
        <div class="row mt-5">
            <ul class="timeline col-lg-4 col-md-6 col-8 m-auto text-left">
                <li>
                    <h5 class="pb-2">Programming Languages</h5>
                    <ul>
                        <li>C#</li>
                        <li>PHP</li>
                        <li>TypeSript</li>
                        <li>HTML, CSS, JavaScript</li>
                        <li>jQuery, Bootstrap</li>
                        <li>SQL Server and MySQL</li>
                    </ul>
                </li>
                <li class="mt-5">
                    <h5 class="pb-2">Frameworks</h5>
                    <ul>
                        <li>Asp.Net FrameWork / Asp.Net Core</li>
                        <li>MVC (Model View Controller)</li>
                        <li>Entity Framework</li>
                        <li>Laravel</li>
                        <li>React</li>
                        <li>Vue.js</li>
                    </ul>
                </li>
                <li class="mt-5">
                    <h5 class="pb-2">Cloud Deployment</h5>
                    <ul>
                        <li>
                            LaaS, IaaS, PaaS
                        </li>
                        <li>Amazon web service</li>
                        <li>Docker</li>
                        <li>
                            Familiar with k8s (Kubernetes)
                        </li>
                    </ul>
                </li>
            </ul>
            <p></p>
        </div>
    </div>
</div>
<div class="text-center mt-5" id="third-Page">
    <div class="container vertical-middle pt-v-sm-10vh">
        <div class="pt-5">
            <div class="card mb-3 pb-5 bg-none m-auto border-0">
                <span class="material-icons card-img-top pt-4 font-88px text-wheat">military_tech</span>
                <div class="card-body">
                    <h5 class="card-title text-white">MICROSOFT</h5>
                    <p class="card-text">ASP.NET Framework, Web Forms using C#, ASP.NET MVC using Razor Syntax, ASP.NET Web API, WCF, Web Service, SignalR, ADO.NET, Entity Framework, LINQ, AJAX Control Toolkit, SFTP, Nuget</p>
                    @*<div class="text-center border-div-trigger w-220px m-auto">
                        <a class="text-decoration-none" target="_blank" href="~/images/top-student-certificate.png">See my award certificate</a>
                        <div class="border-div"></div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center" id="forth-Page">
    <div class="container vertical-middle pt-v-sm-10vh">
        <div class="pt-5">
            <div class="card mb-3 pb-5 bg-none m-auto border-0">
                <span class="material-icons card-img-top pt-4 font-88px text-wheat">library_books</span>
                <div class="card-body">
                    <h5 class="card-title text-white">WEB DEVELOPMENT</h5>
                    <p class="card-text">JavaScript, HTML 5.0, CSS3, jQuery, React, jQueryUI, Bootstrap, NPM, NodeJS, JSON, HTTP REST, SOAP, XML</p>
                    @*<div class="text-center border-div-trigger w-220px m-auto">
                        <a target="_blank" class="text-decoration-none" href="~/images/transcript.png">See Shawn's transcript</a>
                        <div class="border-div"></div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
